/* Различные кнопки и их параметры */

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-clamp: 1;
    border-radius: $button-border-radius1;
    height: 100%;
    max-height: 5rem;
    padding: 0 1.4rem;
    transition: background-color 0.2s ease-out;
}

.button--no-padding {
    padding: 0;
}

.button--active, .active-button {
    background-color: $active-color1;
}

.button--gray, .gray-button {
    color: $gray2;
}

.button--just-green {
    border: none;
    color: $green2;
}

.button__indicator, .gray-button__indicator {
    margin-right: 1.5rem;
    width: 2.1rem;
    max-height: 2.1rem;
    object-fit: contain;
}

.button--border--green {
    border: $active-color1 1px solid;
}

.button:hover {
    background-color: $graylight;
}