/* Основные меню */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 18.2rem;
}

.menu--special {
    width: 100%;
}

.menu__item {
    width: 100%;
    height: 4.6rem;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1.5rem;
    border-radius: $button-border-radius1;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    transition: background-color 0.2s ease-out;
}

.menu__item--special {
    height: fit-content;
    font-size: 1.2rem;
}

.menu--scrollable {
    overflow-y: scroll;
}

.menu__item:hover {
    background-color: $graylight;
}

.menu__item--enabled:hover {
    background-color: $active-color1;
}

.menu__item--enabled {
    background-color: $active-color1;
}

.menu__item-indicator {
    margin-right: 2rem;
    height: 1.8rem;
    width: 1.8rem;
    object-fit: contain;
}

.menu__item-indicator--no-margin {
    margin-right: 0;
}

.menu__line {
    //margin-right: 5rem;
    margin: 2rem 0;
    width: 17rem;
    height: 1px;
    background-color: $gray1;
}