/* Кнопка профиль */

.profile-button {
    width: 19rem;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.profile-button__avatar {
    margin-top: 0.3rem;
    width: 4.1rem;
    height: 4.1rem;
    border-radius: 2.05rem;
    object-fit: cover;
}

.profile-button__text-block {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    height: fit-content;
    width: 70%;
    font-size: 1.7rem;
}

.profile-button__nickname {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: 300;
}