
/* Шрифты */

$main-font-family: Montserrat, Century Gothic, Corbel;

/* Цвета */

$active-color1: #D7F5BF;
$event-red: #FF5C00;
$gray1: #ECECEC;
$graylight: #fcfcfc;
$gray2: #8E8E92;

/* Радиусы загругления */

$button-border-radius1: 1rem;
$button-border-radius2: 0.5rem;
$card-border-radius: 1rem;
$header-border-radius: 1.6rem;

/* Тени */

$main-inteface-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
$create-button-box-shadow: 0px 0px 18.1px rgba(0, 0, 0, 0.13);
$card-box-shadow: 1px 2px 10px 3px rgba(0, 0, 0, 0.04);



