/*Файл для глобальных стилей и подключения блоков из других SCSS файлов*/

/* Основные параметры */

@import 'properties.scss';
@import 'fonts.scss';

/* Общие стили */

@import 'common/filters.scss';
@import 'common/counter.scss';
@import 'common/task.scss';
@import 'common/avatars-stack.scss';
@import 'common/button.scss';
@import 'common/menu.scss';
@import 'common/profile-button.scss';
@import 'common/heading.scss';
@import 'common/button-block.scss';
@import 'common/task-details.scss';
@import 'common/param.scss';
@import 'common/list.scss';
@import 'common/card.scss';
@import 'common/profile.scss';
@import 'common/enter-container.scss';
@import 'common/auth-block.scss';
@import 'common/input.scss';
@import 'common/password-check.scss';
@import 'common/s-alert.scss';

/* Мобильные стили (часть свойств присутствует в общем разделе в media запросах) */

@import 'mobile/header.scss';
@import 'mobile/header-main-overlay.scss';
@import 'mobile/header-background-overlay.scss';
@import 'mobile/left-menu-overlay.scss';
@import 'mobile/side-overlay.scss';
@import 'mobile/right-menu-overlay.scss';
@import 'mobile/create-button.scss';
@import 'mobile/main-mobile-container.scss';

/* Десктопные стили */

@import "desktop/main-col.scss";
@import "desktop/main-desktop-container.scss";
@import "desktop/menu-col.scss";



/* Глобальные основные параметры */

* {
    box-sizing: border-box;
    font-family: $main-font-family;
    font-weight: 500;
    cursor: default;
    //scrollbar-width: none;
    //scrollbar-color: $gray1 transparent;
}


span, p {
    font-family: $main-font-family;
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: #000000;
    text-decoration: none;
    cursor: default;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px; // для задания величины 1 rem
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
    width: 100vw;
    height: 100vh;
}

button {
    border: none;
    background-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

input {
    outline: none;
}


